* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
html body {
  width: 100%;
  height: 100%;
}
#bg {
  position: relative;
}
#bg .topBtn {
  position: absolute;
  top: 11.86133333rem;
  left: 3.79733333rem;
}
#bg .topBtn .download {
  width: 8.23466667rem;
  height: 2.752rem;
  background: url("../images/downloadtop.png") no-repeat;
  background-size: 100% 100%;
}
#bg .footerBtn {
  position: absolute;
  left: 3.648rem;
  bottom: 5.33333333rem;
}
#bg .footerBtn .download {
  width: 8.23466667rem;
  height: 2.752rem;
  background: url("../images/downloadbottom.png") no-repeat;
  background-size: 100% 100%;
}
#bg img {
  width: 100%;
  height: 100%;
}
