* {
  margin: 0px;
  padding: 0px;
}
html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
.main .tp {
  position: absolute;
  height: 0.46933333rem;
  z-index: 1;
}
.main .tp.recharge {
  left: 8%;
  top: 32rem;
}
.main .tp.invite {
  left: 10%;
  top: 45.86666667rem;
}
.main .tp.score {
  left: 39%;
  top: 51.84rem;
}
.main .tp.share {
  left: 9%;
  top: 59.30666667rem;
}
.main .tp.read {
  left: 6%;
  top: 82.64533333rem;
}
.main .tp h3 {
  display: block;
  font-size: 0.46933333rem;
  font-family: NotoSansHans-Regular;
  color: #ec4e4e;
  padding-bottom: 0.21333333rem;
  border-bottom: 0.02133333rem solid #ec4e4e;
}
.main .bg {
  width: 100%;
  height: 100%;
}
.main .bg img {
  width: 100%;
  height: auto;
  position: absolute;
}
