* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
img {
  width: 14.016rem;
  height: 6.86933333rem;
}
